<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="{{abs_uri}}" />
		<meta charset="utf-8" />
		<title>PetFriend.ly</title>
		<link rel="stylesheet" type="text/css" href="/static/css/estilo.css" />
		{% block css %}{% endblock %}
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD76auzT859-yS98eM61vizOCq63qlsAPo&sensor=true"></script>
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		{% block jscripts %}{% endblock %}
	</head>
	<body>
		<div id="columna">
			<div id="encabezado">
				<a href="http://localhost:8000"><img src="../../static/img/logo-main.png" /></a>
				<form method="post" action="" id="search">
					<label for="query">What are you looking for?</label>
					<input type="search" name="query" id="query" placeholder="Eg. day care, parks, food, etc." tabindex="1" />
					<input type="submit" value="Find!" tabindex="2" />
				</form>
				<div id="fb-root"></div>
				<fb:login-button autologoutlink="true" onlogin="loginFB();">
				</fb:login-button>
				<script language="javascript" type="text/javascript">
    			FB.init({
        			appId: '441076549300291',
        			status: true, 
        			cookie: true, 
        			xfbml: true
    			});
    			FB.getLoginStatus(function(response) {
  					if (response.status === 'connected') {
  					} else if (response.status === 'not_authorized') {
    				// not_authorized
  					} else {
    				// not_logged_in
  					}
 				});    

    			function loginFB()
    			{
    				FB.api("/me",
                	function (response) {
                    	alert('Name is ' + response.email);
                	});             			

    			}
				</script>
			</div>
			{% block contenido %}{% endblock %}
		</div>
		<div id="pie">
			<div>
				<h5>All rights reserver &copy; {% now "Y" %} MxlDev</h5>
				<p><a href="/about/">About us</a> | <a href="/help/">Help</a></p>
				<div class="clear"></div>
			</div>
		</div>
	</body>
</html>