{% extends "main/base.html" %}
{% block jscripts %}{% endblock %}
{% block contenido %}
			<div id="detalles">
				<h1>Need a hand?</h1>
				<h2>FAQ</h2>
				<dl>
					<dt>How can I create an account?</dt>
					<dd>People nowadays habe multiple accounts, Facebook, Twitter, Google, Yahoo, etc. We have decided not to burden you with yet another username and password to remember. To sign in all you need is a valid <strong>Facebook</strong>, <strong>Twitter</strong> or <strong>Google+</strong>, this way you use the user and password you already know, and we don't have the need to store and handle your personal information.</dd>
				</dl>
			</div>
{% endblock %}